<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Address Book</title>

        <link href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
        <link href="css/landing-page.css" th:href="@{/css/landing-page.css}" rel="stylesheet"/>

        <!-- Custom Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css"/>
        <link href="font-awesome/css/font-awesome.min.css" th:href="@{/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />

        <style>
            .intro-header{
                background: url(../img/intro-bg.jpg)
                    no-repeat center center fixed;
            }

            .input-group{
                padding-top:5px;
            }

            @media screen and (max-width: 767px) {
                .select2 {
                    width: 100% !important;
                }
            }

        </style>

    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
            <div class="container topnav">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand topnav" th:href="@{/}">IOP Conference Schedule</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#about">My Profile</a>
                        </li>
                        <li>
                            <a href="#">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>



        <div class="content-section-b" id="address-book">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                        <!--<hr class="section-heading-spacer"/>-->
                        <div class="well" style="margin-top:102px">
                            <ul id="user-list"></ul>
                        </div>
                        <div class="pull-right" style="padding:7px;">
                            <button id="update-group" class="btn btn-success">Update Group</button>
                        </div>

                    </div>
                    <div class="col-lg-5 col-sm-pull-6  col-sm-6" style="padding-top:102px">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-bookmark fa-fw"></i></span>
                                <select id="group-title" class="groups form-control" placeholder="" aria-describedby="sizing-addon1"/>
                                <option th:each="group : ${groups}" value="${group.id}" th:text="${group.title}"></option>

                            </div>
                            <div class="input-group pull-right" style="padding:7px;">
                                <button  id="load-users" class="btn btn-info">Load List</button>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-envelope fa-fw"></i></span>
                                <select id="users" class="address-group form-control" style="width:98.7%" multiple="multiple" aria-describedby="sizing-addon1">                            
                                </select>
                            </div>
                            <div class="input-group pull-right" style="padding:7px;">
                                <button id="add-user" class="btn btn-success">Add</button>
                            </div>
                            <div class="input-group pull-right" style="padding:7px;">
                                <button id="reset-users" class="btn btn-warning">Reset List</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-inline">
                            <li>
                                <a href="#meetingCalendar">Calendar</a>
                            </li>
                            <li class="footer-menu-divider">&sdot;</li>
                            <li>
                                <a href="#createMeeting">Create</a>
                            </li>
                        </ul>
                        <p class="copyright text-muted small">Copyright &copy; INTEGRITYOne Partners 2017. All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </footer>



        <script type="text/javascript"  src="js/jquery.min.js"/>
        <script type="text/javascript" src="js/bootstrap.min.js"/>
        <script src="${pageContext.request.contextPath}/js/address.js" th:src="@{js/address.js}">
        </script>

        <script th:inline="javascript">
            var contextRoot = /*[[@{/}]]*/ '';
        </script>

        <script th:inline = "javascript" > var contextRoot = /*[[@{/}]]*/ '';</script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

        <script type="text/javascript">
            $(".address-group").select2({
                placeholder: "Add Contact to Group",
                allowClear: true
            });
        </script>
        <script type="text/javascript">
            $(".groups").select2({
                placeholder: "Search your groups",
                allowClear: true
            });
        </script>

    </body>
</html>
