<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <head>
        <title>Confirmation </title>
        <link rel="shortcut icon" th:href="@{/images/favicon.ico}" />
        <link href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" rel="stylesheet"/>

    </head>
    <body>

        <div class="container">    

            <div style="text-align:center; padding-top: 50px" class="jumbotron">
                <h1>IOP Conf. Registration</h1>
                <p th:text="${confirmMessage}"></p>
            </div>       
        </div>
        <script type="text/javascript"  src="js/jquery.min.js"/>
    </body>
</html>
