<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>IOP Conf Schedule</title>

        <link href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
        <link href="css/landing-page.css" th:href="@{/css/landing-page.css}" rel="stylesheet"/>

        <!-- Custom Fonts -->

        <link href="css/bootstrap-datepicker.css" th:href="@{/css/bootstrap-datepicker.css}" rel="stylesheet" />
        <link href="css/jquery.timepicker.css" th:href="@{/css/jquery.timepicker.css}" rel="stylesheet" />

        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css"/>
        <link href="css/fullcalendar.css" th:href="@{/css/fullcalendar.css}" rel="stylesheet" />
        <link href="font-awesome/css/font-awesome.min.css" th:href="@{/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />

        <style>
            .intro-header{
                background: url(../img/intro-bg.jpg)
                    no-repeat center center fixed;
            }

            .btn-radio {
                width: auto;

            }
            .img-radio {
                opacity: 0.5;
                margin-bottom: 5px;
            }

            .space-20 {
                margin-top: 20px;
            }

            .input-group{
                padding-top:5px;
            }

            .large-color{
                color: #38AD57;
            }

            .window-color{
                color: #FFC706;
            }

            .small-color{
                color: #16C1FF;
            }

            .fc-ltr .fc-basic-view .fc-day-top .fc-day-number { 
                float: left; 
            }

            .fc-unthemed .fc-divider,
            .fc-unthemed .fc-popover .fc-header,
            .fc-unthemed .fc-list-heading td {
                background: rgba(212,228,239,1);
            }
        </style>

    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
            <div class="container topnav">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand topnav" href="#">IOP Conference Schedule</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#about">My Profile</a>
                        </li>
                        <li>
                            <a th:href="@{/addressbook}">Address Book</a>
                        </li>
                        <li>
                            <a href="#">Logout</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        <!-- Header -->
        <a name="about"></a>
        <div th:style="'background:url('+ @{/images/intro-bg.jpg} +');'" class="intro-header">
            <div class="container">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="intro-message">
                            <h1>IOP Conference Rooms</h1>
                            <h3>Scheduling Tool for IOP Meetings</h3>
                            <hr class="intro-divider"/>
                            <ul class="list-inline intro-social-buttons">
                                <li>
                                    <a href="#meetingCalendar" class="btn btn-default btn-lg"><i class="fa fa-calendar fa-fw"></i> <span class="network-name">Calendar</span></a>
                                </li>
                                <li>
                                    <a href="#meeting" class="btn btn-default btn-lg"><i class="fa fa-group fa-fw"></i> <span class="network-name">Create Meeting</span></a>
                                </li>
<!--                                <li>
                                    <a href="#third" class="btn btn-default btn-lg"><i class="fa fa-cog fa-spin fa-fw"></i> <span class="network-name">Potpurri</span></a>
                                </li>-->
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container -->

        </div>
        <!-- /.intro-header -->

        <div style="padding-top:20px;" class="container" id="meetingCalendar">
            <div class="row">
                <div class="col-md-12"> 
                    <span class="large">
                        <input type="checkbox" checked="checked" name="large" id="large" />
                        <label for="large">Large</label>
                        <i class="fa fa-circle large-color"></i>&nbsp;&nbsp;&nbsp;
                    </span>
                    <span class="window">
                        <input type="checkbox" checked="checked" name="window" id="window" />
                        <label for="window">Window</label>
                        <i class="fa fa-circle window-color"></i>&nbsp;&nbsp;&nbsp;
                    </span>
                    <span class="smallRoom">
                        <input type="checkbox" checked="checked" name="small" id="small" />
                        <label for="small">Small</label>
                        <i class="fa fa-circle small-color"></i>&nbsp;&nbsp;&nbsp;
                    </span>
                    <div class="col-md-12">
                        <div style="padding-top:10px;" id='calendar'></div>
                    </div>
                </div>
            </div>
        </div>


        <a  name="createMeeting"></a>
        <div style="margin-top:30px;" class="content-section-a" id="meeting">
            <div class="container">
                <div class="col-md-12">
                    <form class="form-horizontal well" role="form">
                        <div class="row space-20">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-calendar fa-fw"></i></span>
                                        <input id="date" type="text" class="date form-control" placeholder="Date" aria-describedby="sizing-addon1"/>
                                    </div>                         
                                </div>
                            </div>
                            <div class="col-md-4">
                            </div>
                        </div>

                        <div id="form-no-date" style="display:none">
                            <div class="row">
                                <div class="text-center col-md-4">
                                    <img src="/images/window.jpg" class="img-responsive img-radio center-block img-rounded"/>
                                    <button id="1" type="button" class="btn btn-primary btn-radio text-center">Window</button>
                                    <input type="checkbox" name="room" id="1" class="hidden"/>
                                </div>
                                <div class="col-md-4 text-center">
                                    <img src="/images/large.jpg" class="img-responsive img-radio center-block img-rounded"/>
                                    <button id="2" type="button" class="btn btn-primary btn-radio">Large</button>
                                    <input type="checkbox" name="room" id="2" class="hidden"/>
                                </div>
                                <div class="col-md-4 text-center">
                                    <img src="/images/small.jpg" class="img-responsive img-radio center-block img-rounded"/>
                                    <button id="3" type="button" class="btn btn-primary btn-radio">Small</button>
                                    <input type="checkbox" name="room" id="3" class="hidden"/>
                                </div>
                            </div>
                        </div>
                        <div id="form-no-date-remainder" style="display:none">
                            <div class="row space-20">
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-clock-o fa-fw"></i></span>
                                            <input type="text" class="st form-control" placeholder="Start Time" aria-describedby="sizing-addon1"/>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-clock-o fa-fw"></i></span>
                                            <input type="text" class="et form-control" placeholder="End Time" aria-describedby="sizing-addon1"/>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-bookmark fa-fw"></i></span>
                                            <input id="meeting-title" type="text" class="form-control" placeholder="Meeting Title" aria-describedby="sizing-addon1"/>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-bookmark fa-fw"></i></span>
                                            <input id="meeting-descrip" type="text" class="form-control" placeholder="Meeting Description" aria-describedby="sizing-addon1"/>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-envelope fa-fw"></i></span>
                                            <select id="users" class="users invitees form-control" style="width:100%;" multiple="multiple" aria-describedby="sizing-addon1">                            
                                            </select>
                                        </div>
                                        <span class="col-md-12 text-center"><input id="sendInviteEmail" type="checkbox" value=""/>Send Invite Email</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                </div>

                            </div>
                        </div>
                    </form>   
                </div>
            </div>
            <div class="col-md-12 text-center">
                <button id="meeting-submit" type="button" class="btn btn-success">Submit</button>
            </div>
        </div>

        <!-- /.content-section-b -->

        <!--        <div class="content-section-a">
        
                    <div class="container">
        
                        <div class="row">
                            <div class="col-lg-5 col-sm-6">
                                <hr class="section-heading-spacer"/>
                                <div class="clearfix"></div>
                                <h2 class="section-heading">Y<br>Font Awesome Icons</br></h2>
                                <p class="lead" id="results"></p>
                            </div>
                            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                                <img class="img-responsive" src="img/phones.png" alt=""/>
                            </div>
                        </div>
        
                    </div>
                     /.container 
        
                </div>-->
        <!-- /.content-section-a -->

        <a  name="contact"></a>
        <div class="banner">

            <div class="container">

                <div class="row">
                    <div class="col-lg-6">
                        <h2>IOP Contacts</h2>
                    </div>
                    <div class="col-lg-6">
                        <ul class="list-inline banner-social-buttons">
                            <li>
                                <a href="https://www.facebook.com/integrityonepartners/" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/integrity_one" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/integrityone-partners" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <!-- /.container -->

        </div>
        <!-- /.banner -->

        <div id="fullCalModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><i class="fa fa-remove fa-fw"></i></span><span class="sr-only">close</span></button>
                        <h4 id="modalTitle" class="modal-title"></h4>
                    </div>
                    <div id="modalBody" class="modal-body"></div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-inline">
                            <li>
                                <a href="#meetingCalendar">Calendar</a>
                            </li>
                            <li class="footer-menu-divider">&sdot;</li>
                            <li>
                                <a href="#createMeeting">Create</a>
                            </li>
                            <!--                            <li class="footer-menu-divider">&sdot;</li>-->
                            <!--                            <li>
                                                            <a href="#services">Services</a>
                                                        </li>
                                                        <li class="footer-menu-divider">&sdot;</li>
                                                        <li>
                                                            <a href="#contact">Contact</a>
                                                        </li>-->
                        </ul>
                        <p class="copyright text-muted small">Copyright &copy; INTEGRITYONE Partners 2017. All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </footer>



        <script type="text/javascript"  src="js/jquery.min.js"/>
        <script type="text/javascript"  src="js/moment.min.js"/>
        <script type="text/javascript"  src="js/fullcalendar.min.js"/>
        <script type="text/javascript" src="js/bootstrap-datepicker.js"></script>
        <script type="text/javascript" src="js/jquery.timepicker.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"/>

        <script src="${pageContext.request.contextPath}/js/app.js" th:src="@{js/app.js}">
        </script>

        <script th:inline="javascript">
            var contextRoot = /*[[@{/}]]*/ '';
        </script>


        <script th:inline = "javascript" > var contextRoot = /*[[@{/}]]*/ '';</script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

        <script type="text/javascript">
            $(".invitees").select2({
                placeholder: "Attendees"
            });
        </script>
        <script type="text/javascript">
            $(".address-group").select2({
                placeholder: "Add Contact to Group"
            });
        </script>




    </body>
</html>
