
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <head>
        <title>Login </title>
        <link rel="shortcut icon" th:href="@{/images/favicon.ico}" />
        <link href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" rel="stylesheet"/>

    </head>
    <body>

        <div th:if="${param.logout}">
            You have been logged out.
        </div>

        <div class="container">    
            <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
                <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Sign In</div>
                        <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>
                    </div>     

                    <div style="padding-top:30px" class="panel-body" >

                        <div th:if="${param.error}"  id="login-alert" class="alert alert-danger col-sm-12">
                            <p style="text-align: center">Invalid username and password.  Please check credentials.</p>                           
                        </div>
                        
                        <p th:text="${validMessage}" style="text-align: center"></p>

                        <form th:action="@{/login}" method="post" id="loginform" class="form-horizontal" role="form">

                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="username" />                                        
                            </div>

                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input id="login-password" type="password" class="form-control" name="password" placeholder="password"/>
                            </div>

                            <div style="margin-top:10px" class="form-group">

                                <div class="col-sm-12 controls">
                                    <div><input class="btn btn-primary" type="submit" value="Sign In"/></div>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-md-12 control">
                                    <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                        Don't have an account! 
                                        <a href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">
                                            Sign Up Here
                                        </a>
                                    </div>
                                </div>
                            </div>    
                        </form>     



                    </div>                     
                </div>  
            </div>
            <div id="signupbox" style="display:none; margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">Sign Up</div>
                        <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="#" onclick="$('#signupbox').hide(); $('#loginbox').show()">Sign In</a></div>
                    </div>  
                    <div class="panel-body" >

                        <form th:action="@{/registration/create}" th:object="${user}" method="post" id="signupform" class="form-horizontal" role="form">

                            <div id="signupalert" style="display:none" class="alert alert-danger">
                                <p>Error:</p>
                                <span></span>
                            </div>



                            <div class="form-group">
                                <label for="email" class="col-md-3 control-label">Email</label>
                                <div class="col-md-9">
                                    <input type="email" th:field="*{email}" class="form-control" name="email" placeholder="Email Address"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="firstname" class="col-md-3 control-label">First Name</label>
                                <div class="col-md-9">
                                    <input type="text" th:field="*{firstName}" class="form-control" name="firstName" placeholder="First Name"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lastname" class="col-md-3 control-label">Last Name</label>
                                <div class="col-md-9">
                                    <input type="text" th:field="*{lastName}" class="form-control" name="lastName" placeholder="Last Name"/>
                                </div>
                            </div>  
                            <div class="form-group">
                                <label for="phone number" class="col-md-3 control-label">Phone Number</label>
                                <div class="col-md-9">
                                    <input type="text" th:field="*{phone}" class="form-control" name="phone" placeholder="Digits"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-md-3 control-label">Password</label>
                                <div class="col-md-9">
                                    <input type="password" class="form-control" name="password" placeholder="Password"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-9">

                                    <div><input class="btn btn-primary" type="submit" value="Sign In"/></div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div> 
        </div>
        <script type="text/javascript"  src="js/jquery.min.js"/>
    </body>
</html>
