
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <head>
        <title>Email Verification</title>

        <link href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
        <link rel="shortcut icon" th:href="@{/images/favicon.ico}" />


    </head>
    <body>


        <div class="container">  
                    <div style="text-align:center; padding-top: 50px" class="jumbotron">
                        <h1>IOP Conf. Registration</h1>
                        <p th:text="${validMessage}"></p>
                        <p><a class="btn btn-primary btn-lg" href="/login" th:href="@{/addressbook}" role="button">Login</a></p>
                    </div>
        </div>
        


                <script type="text/javascript"  src="js/jquery.min.js"/>
                <script type="text/javascript" src="js/bootstrap.min.js"/>
                </body>
                </html>
